*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ff7613;
    --text-color: #727171;
}
html {
    font-size: 15px;
}
body{
    font-family: sans-serif;
    background-color: black;
    color: white;
}
/* common styles*/
img {
    width: 90%;
}
.description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.item-pretitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}
.item-title{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}
.item-title{
    font-size: 1.4rem;
    color:var(--text-color);
    font-weight: 400;
}

a{
    text-decoration: none;
    color: white;
}
/* layouts */
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 768px){
.container{
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
}
}
.profile{
    grid-column: 1 /-1;
    margin-bottom: 2rem;
}

/* Profile */
.profile-container{
    display: flex;
    gap: 2rem;
}
.fname{
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.lname {
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}
.profile-name{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
@media only screen and(max-width: 768px){
    .profile-container{
        flex-direction: column;
    }
}
/* Expertise*/
.skill-list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}
/* Education */
.edu-item{
    margin-top: 2rem;
}
